*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:100%;
    min-height: 100vh;
    padding:10px 15px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.one{
    display: flex;
    justify-content: center;
    padding:10px 20px;
    position: relative;
}

.text .line1,.line2,.line3{
    opacity:0;
    transform: translateY(30px);
    animation: fadeup 1s ease forwards;

}

.text h3{
    animation-delay: 0.5s;
}

.text h1{
    animation-delay: 1s;
    letter-spacing: 10px;
}

@keyframes fadeup{
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.one .bg{
    width:100%;
    height: 780px;
}

nav{
    width:95%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    /* background-color: rgba(255, 255, 255, 0.142); */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 4;
    position: fixed;
    top:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

nav:hover{
    box-shadow:
    0 0 5px rgba(255,215,0,0.6),
    0 0 10px rgba(255,215,0,0.5),
    0 0 15px rgba(255,215,0,0.3),
    inset 0 0 10px rgba(255,215,0,0.1);
    
}

nav .logo{
    width:100px;
    height:100px;
}

nav a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    scroll-behavior: smooth;
}


nav a::after{
    content:'';
    position: absolute;
    width:0px;
    height:2px;
    bottom:-5px;
    left:0;
    background-color: goldenrod;
    transition: width 0.3s ease;
}
nav a:hover::after{
    width:100%;   
}

nav h4{
    color:goldenrod;
    font-size: 12px;
}

.text{
    width:500px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    left:40px;
    top:270px;
    padding:10px;
    gap:15px;
    font-size: 20px;
    color:aliceblue;
    letter-spacing: 0.5px;
}

.text span{
    color:goldenrod;
    /* letter-spacing: 0.5px; */
}

.text h3{
    font-weight:bolder;
    color:aliceblue;
}

.text h1{
    font-size: 100px;
    color:whitesmoke;
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px 4px #000000;
}

.text a button{
    width:170px;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    border: 2px solid goldenrod;
    background-color:transparent;
    transition: color 0.4s ease;
    position: relative;
    color:aliceblue;
}

a button .R{
    padding-left: 10px;
}

.text button::before{
   content:'';
   position: absolute;
   inset:0;
   background-color:goldenrod ;
   transform: translateX(-100%);
   transition: transform 0.4s ease;
   z-index: -1;
}

button:hover::before{
    transform: translateX(0);
}

button:hover{
    color: #1b1b1b;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(185, 180, 180, 0.2);
}

/* BOX 2 */
/* 
.two{
    background-color: rgb(192, 129, 47);
} */

.two .abt{
    margin-top: 20px;
    color: aliceblue;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;

}

h1{
    /* color:rgb(140, 82, 6); */
    color:aliceblue;
    text-align: center;
}

section .card{
    width:300px;
    height:500px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-top: 40px;
    padding:10px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}

.card .txt{
    text-align: center;
    color:rgb(140, 82, 6);
    line-height: 22px;
    padding-top: 20px;
}

.txt h6{
    color:black;
    font-size: 13px;
}

.txt h4{
    color:rgb(140, 82, 6);
}
.card img{
    width:90%;
    height:280px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
}


.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(216, 213, 213, 0.2);
}

.card h5{
    padding-top:10px;
    color:black;
    font-size: 16px;
}

.links{
    width:100%;
    height: 100%;
    /* background-color: #b38686; */
    display: flex;
    justify-content: center;
    gap:10px;
    padding:5px;
    transition: transform 0.2s ease, opacity 0.2ss ease;
}


.card:hover .links{
    opacity:1;
    transform: translateY(-2px);
}

.i-1{
    color:rgb(17, 102, 17);
    font-size: 25px;
}
.i-2{
    color:rgb(201, 15, 77);
    font-size: 25px;
}
.i-3{
    color:rgb(6, 97, 161);
    font-size: 25px;
}

/* THIRD BOX */

.legal{
    width:fit-content;
    height:fit-content;
    padding:10px;
    /* border:2px solid goldenrod; */
    margin-top: 20px;
    border-radius: 5px;
}

.legal h2{
    color:aliceblue;
}

.boxes{
    display: flex;
    width:100%;
    height:500px;
    gap:30px;
    padding:20px;
    /* scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overflow-x:auto ; */

}

/* .boxes::-webkit-scrollbar{
    display:none;
} */

.petti{
    width:300px;
    height:450px;
    background-color: aliceblue;
    border-radius: 10px;
    padding:10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.petti img{
    width:100%;
    height:250px;
    border-radius: 5px;
}

.petti h3{
    border-bottom: 2px solid goldenrod;
    color:black;
}

.petti h4{
    color:black;
}

.con{
    width:100%;
    height:fit-content;
    padding:10px 20px;
    /* border: 2px solid white; */
    background-color: goldenrod;
    /* border-radius: 5px; */
    /* color:aliceblue; */
    text-align: center;
    letter-spacing: 10px;
}

/* ENQUIRY */
#enquiry{
    background: url(./Assets/Law\ Img.jpg);
    background-repeat: no-repeat;
    
}

#enquiry h1{
    color:aliceblue;
}

.enquiry {
  width: 60%;
  height:500px;
  margin: 80px auto;
  text-align: center;
  padding:10px 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 215, 0, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);

  color: #fff;
  border-radius: 10px;
}

.enquiry h2{
    margin-top: 30px;
}

.enquiry input,
.enquiry textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-top:30px;
  border-radius: 10px;
  border:2px solid black;
}

.enquiry:hover{
    box-shadow: 0 0 10px rgb(157, 143, 65),
    0 0 25px rgb(65, 57, 37),
    0 0 50px rgba(88, 88, 42, 0.6);
    transform:translate(-5px);
}

#eq{
  padding: 10px 20px;
  background: goldenrod;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}


/* fourth box */

#contact{
    width:100%;
    height:380px;
    background-color: rgb(1, 10, 18);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap:20px; */
    padding:10px;
    
    /* border-bottom: 1px solid white; */
}

.foot{
    padding-top: 50px;
}

.foot img{
  width:150px;
  height:320px;
}

footer .logo{
    width:150px;
    height:130px;
}
.address h3{
    color:aliceblue;
}

.address span,.numbers span{
    color: goldenrod;
}

.numbers h3,h4{
    color:aliceblue;
}

.foot h4{
    color:aliceblue;
    width:300px;
}


 .foot h3{
    color: goldenrod;
    margin-top: 20px;
}

.foot,.address,.numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    
}

footer .icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.icons #one{
    font-size: 40px;
}

.icons h3{
    color:aliceblue;
    padding-top: 30px;
}

.end{
    color:goldenrod;
    text-align: center;
    line-height: 30px;
    /* letter-spacing: 5px; */
    padding:10px;
    padding-top:50px;
}

/* ================= MOBILE ================= */
@media only screen and (max-width:600px){
    .one .bg{
      width:100%;
      height:600px;
      object-fit: contain;
      object-position: center;
    }

    nav{
        width:90%;
        flex-direction: row;
        height:80px;
        padding:10px;
        gap:15px;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
    }

    nav .logo{
        height:100px;
        width:90px;
    }

    nav a{
        font-size:16px;
        display: none;
    }


    section .card{
       width: 280px;
       height: 400px;
    }

    .card img{
        width:200px;
        height:200px;
    }

    .legal{
        text-align: center;
    }

    .legal h2{
        font-size: 18px;
        line-height: 20px;
    }

    .text{
        width:90%;
        left:20px;
        top:260px;
        text-align:center;
    }

    .text h1{
        font-size:45px;
        letter-spacing:5px;
    }

    .text h3{
        font-size:18px;
    }

    section{
        flex-direction: column;
        gap:20px;
    }

    .boxes{
        flex-direction: column;
        height:auto;
        align-items:center;
    }

    .petti{
        width:100%;
        height:auto;
        padding:10px;
    }

    .enquiry{
        width:100%;
    }

    footer{
        flex-direction: column;
        /* gap:20px; */
        justify-content: space-around;
        text-align:center;
        border-bottom: 1px solid black;
        
    }

    .foot img{
        width:150px;
        height:200px;
    }

    .foot,.address,.numbers{
        align-items:center;
    }

    .con{
        letter-spacing: 0px;
        font-size: 10px;
    }
    #contact{
        height:auto;
        padding-bottom:30px;
    }

    .end{
        padding-top:40px;
    }
}

/* ================= TABLET ================= */
@media only screen and (min-width:601px) and (max-width:1024px){

    nav{
        height:90px;
    }

    
    nav .logo{
        height:100px;
        width:90px;
    }

    nav a{
        font-size:15px;
    }

    .text{
        width:70%;
        left:-50px;
        top:220px;
    }

    .text h1{
        font-size:70px;
    }

    section{
        flex-wrap: wrap;
        gap:30px;
    }

    .card{
        width:45%;
        height:auto;
    }

    .boxes{
        flex-wrap: wrap;
        justify-content:center;
        height:auto;
    }

    .petti{
        width:30%;
        height:auto;
    }

    footer{
        /* flex-wrap: wrap; */
        gap:30px;
        padding:10px;
        justify-content: space-between;
    }
     .icons #one{
        font-size:35px;
    }

    #contact{
        height:auto;
        padding-bottom:40px;
    }

    .con h2{
        letter-spacing: 5px;
    }

    .enquiry{
        width:80%
    }
}

/* ================= LAPTOP / DESKTOP ================= */
@media only screen and (min-width:1025px){

    .text{
        width:500px;
    }

    
    nav .logo{
        height:100px;
        width:90px;
    }

    .text h1{
        font-size:100px;
    }

    section{
        flex-direction: row;
    }

    .boxes{
        flex-direction: row;
    }

}